// шрифт
$font-main: "Open Sans", "Arial", sans-serif;

// ширина
$max-mobile-width: 767px;
$tablet-width: 768px;
$max-tablet-width: 1149px;
$desktop-width: 1150px;

// цвета
$color-brand: #63d1bb;
$color-brand-secondary: #56c3b2;
$main-color: #ffffff;
$main-color-text: #000000;
$color-first: #f1f1f1;
$color-secondary: #ececec;
$color-tertiary: #fafafa;
$color-quaternary: #444444;

