.best {
  padding: 0 30px;
  padding-top: 32px;
  padding-bottom: 42px;
  background: url("../img/icons/zigzag.svg") bottom center / auto 7px repeat-x;

  @media (min-width: $tablet-width) {
    padding: 0 50px;
    padding-top: 54px;
    padding-bottom: 68px;
    background-size: auto 17px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-top: 74px;
    background: none;
  }
}

.best__container {
  display: grid;

  @media (min-width: $tablet-width) {
    grid-template-columns: 292px 1fr;
    grid-template-rows: auto auto 1fr auto auto;
    column-gap: 42px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 117px 1fr 525px;
    column-gap: 58px;
    width: 1050px;
    margin: 0 auto;
    padding-bottom: 96px;
    background: url("../img/icons/zigzag.svg") bottom center / auto 23px repeat-x;
  }
}

.best__title {
  @include font-values(700, 17px, 1.18, $color-brand);
  order: -1;
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: end;
    text-align: center;
    width: 100px;
    margin: 0;
    margin-right: 13px;
    padding-top: 7px;
    line-height: 1;
  }

  @media (min-width: $desktop-width) {
    grid-area: 1 / 1 / 2 / 2;
    padding: 0;
    margin: 0;
    margin-bottom: 14px;
    margin-right: -15px;
    padding-top: 68px;
  }
}

.best__title-secondary {
  @include font-values(700, 25px, 1.2);
  order: -2;
  margin: 0;
  margin-bottom: 4px;

  @media (min-width: $tablet-width) {
    @include font-values(700, 43px, 1.16);
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    max-width: 550px;
    margin-bottom: 39px;
  }

  @media (min-width: $desktop-width) {
    grid-area: 1 / 2 / 2 / 4;
    font-size: 53px;
    line-height: 1.08;
    max-width: 600px;
    z-index: 1;
    margin-bottom: 37px;
    padding-top: 60px;
  }
}

.best__description {
  margin: 0;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    @include font-values(400, 17px, 1.76);
    margin-bottom: 40px;
    align-self: start;
  }

  @media (min-width: $desktop-width) {
    grid-area: 2 / 2 / 3 / 3;
    margin-bottom: 52px;
  }
}

.best__list {
  margin: 0;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
    align-self: start;
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    grid-area: 3 / 2 / 4 / 3;
  }
}

.best__list-item {
  display: flex;
  padding: 5px 0 10px;
  border-bottom: 1px solid $color-secondary;
}

.best__property {
  width: 38%;
  flex-shrink: 0;

  @media (min-width: $tablet-width) {
    width: 33%;
  }
}

.best__value {
  margin: 0;
}

.best__image-wrapper {
  padding-top: 27px;
  margin-bottom: 20px;
  justify-self: center;

  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
    grid-row: 2 / 6;
    margin: 0;
    padding: 0;
    justify-self: end;
    padding-top: 12px;
  }

  @media (min-width: $desktop-width) {
    grid-area: 1 / 3 / 6 / 4;
    padding-top: 0;
  }
}

.best__image {
  @media (min-width: $tablet-width) {
    width: 334px;
    height: 404px;
    vertical-align: middle;
  }

  @media (min-width: $desktop-width) {
    width: 525px;
    height: 636px;
  }
}

.best__price {
  @include font-values(700, 17px, 1.41);
  text-align: center;
  margin: 0;
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
    font-size: 20px;
    margin-bottom: 31px;
    align-self: end;
  }

  @media (min-width: $desktop-width) {
    grid-area: 4 / 2 / 5 / 3;
  }
}

.best__link {
  text-decoration: none;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
    align-self: end;
  }

  @media (min-width: $desktop-width) {
    grid-area: 5 / 2 / 6 / 3;
  }
}
