.button {
  @include font-values(700, 18px, 1.11);
  display: block;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid $color-quaternary;
  background-color: $main-color;
  padding: 14px 10px;
  cursor: pointer;
}
