.main-catalog__header {
  padding: 0 30px;
  background-color: $color-first;

  @media (min-width: $tablet-width) {
    padding: 0 50px;
    background-color: $color-tertiary;
    background-image: url("../img/icons/caterpillar.svg");
    background-repeat: repeat-x;
    background-position: center bottom;
    background-size: auto 24px;
  }

  @media (min-width: $tablet-width) {
    background-size: auto 35.9px;
  }
}

.main-catalog__title {
  font-size: 27px;
  line-height: 1.11;
  text-align: center;
  padding: 73px 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 1.16;
    padding-top: 35px;
    padding-bottom: 86px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 1.08;
    padding-top: 37px;
    padding-bottom: 114px;
    margin: 0 auto;
    width: 1050px;
  }
}

.main-catalog__production {
  margin-bottom: 56px;

  @media (min-width: $tablet-width) {
    margin-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    margin-bottom: 105px;
  }
}
