.main-form__header {
  padding: 73px 30px;
  background-color: $color-first;
}

.main-form__title {
  margin: 0;
  font-size: 27px;
  line-height: 1.11;
  text-align: center;
}

.main-form__form {
  padding-top: 17px;
}

.main-form__description {
  font-size: 13px;
  line-height: 1.85;
  padding: 0 30px;
  margin: 0;
  margin-bottom: 30px;
}
