.main-page {
  flex-grow: 1;
}

.main-page__about {
  margin-bottom: 58px;

  @media (min-width: $tablet-width) {
    margin-bottom: 84px;
  }
}

.main-page__reviews {
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    margin-bottom: 66px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
  }
}
