@media (min-width: $tablet-width) {
  .main-header {
    background-color: $color-tertiary;
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    overflow-x: hidden;
  }

  .main-header__nav {
    margin: 0 auto;
  }
}
