.personal-data {
  padding-top: 29px;
  padding-bottom: 31px;
  display: grid;
  row-gap: 23px;
}

.personal-data__label {
  display: flex;
  flex-direction: column;
}

.personal-data__input {
  font-family: $font-main;
  margin: 0;
  height: 51px;
  width: 100%;
  border: none;
  border-bottom: 2px solid $main-color-text;
  font-size: 17px;

  &::placeholder {
    color: rgba($main-color-text, 30%);
  }

  &:hover,
  &:active {
    border-color: $color-brand;
  }

  &:focus-visible {
    outline: none;
    border-color: $color-brand;
  }
}
